{% extends "base.html" %}

{% block title %}About - Trash Clean Up Blog{% endblock %}

{% block content %}
<div class="container">
    <h2>About Us</h2>
    <p>Welcome to the Trash Clean Up Blog. This page is dedicated to helping clean up the Earth that we all live in. Take a photo of a straw you picked up that would have been stuck in a turtle's nose, or a water bottle or plastic bag on the walk to the store from the parking lot in the trash bin that otherwise would have been in a whale's stomach. That piece of trash you throw away each day in the bin 20 steps away sure adds up. You make a big difference with that small single water bottle. If enough of us pick one up each day, we'll clean the earth! So if you want to take a picture of it, this page is for a blog for that you can share each day.</p>
    
    <h3>Disclaimer</h3>
    <p>We are not responsible for any actions taken by users. Users must follow all local laws and regulations regarding safe trash disposal and handling of hazardous materials. We are not responsible for any inappropriate content posted by users. Keep this site clean. Users are advised not to post inappropriate content, and any such content discovered will result in account bans. Site is not always monitored. Just like a trash can. Keep yourself clean, this site clean as well as the earth.</p>
</div>
{% endblock %}