{% extends "base.html" %}

{% block title %}End User License Agreement - Trash Clean Up Blog{% endblock %}

{% block content %}
<div class="container">
    <h2>End User License Agreement (EULA)</h2>
    <p>This End User License Agreement ("Agreement") is a legal agreement between you and the Trash Clean Up Blog.</p>
    <p>By accessing or using our website, you agree to be bound by the terms and conditions of this Agreement.</p>
    <h3>1. License</h3>
    <p>We grant you a revocable, non-exclusive, non-transferable, limited license to download, install, and use our website strictly in accordance with the terms of this Agreement.</p>
    <h3>2. Restrictions</h3>
    <p>You agree not to, and you will not permit others to:</p>
    <ul>
        <li>License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose, or otherwise commercially exploit the website or make the platform available to any third party.</li>
        <li>Modify, make derivative works of, disassemble, decrypt, reverse compile, or reverse engineer any part of the website.</li>
    </ul>
    <h3>3. Termination</h3>
    <p>This Agreement shall remain in effect until terminated by you or us. We may, in our sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.</p>
    <h3>4. Amendments to this Agreement</h3>
    <p>We reserve the right, at our sole discretion, to modify or replace this Agreement at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <h3>5. Contact Information</h3>
    <p>If you have any questions about this Agreement, please contact us.</p>
</div>
{% endblock %}