{% extends "base.html" %}

{% block title %}Set New Password - Trash Clean Up Blog{% endblock %}

{% block content %}
<div class="container">
    <h2>Set New Password</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('set_new_password') }}" method="post" autocomplete="off">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required autocomplete="off">
        
        <button type="submit">Set New Password</button>
    </form>
</div>
{% endblock %}